{% extends 'base.html' %}

{% block content %}

  <h1 class= "text text-center">DETAIL</h1>
  <div class="card mb-3">
  

    <img src=" {{ movie.poster_url }} " class="card-img-top mx-auto" style = "width:40%" alt="poster이미지를 등록해주세요.">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }} </h5>
      <p>Popularity : {{ movie.popularity }} </p><br>
      <p>Release Dates : {{ movie.release_date }} </p><br>
      <p>Genre : {{ movie.genre }} </p><br>
      <p>Score : {{ movie.score }} </p><br>
      <p class="card-text">{{ movie.description }} </p>
      <hr>
      <div class='d-flex my-2'>
        <a href="{% url 'movies:update' movie.pk%}" class="mx-2"><button class="btn btn-info">UPDATE</button></a>
        <form action="{% url 'movies:delete' movie.pk %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger mx-1">DELETE</button>
        </form> 
      </div>
      
    </div>
  </div>
  <a href="{% url 'movies:index' %}" class="btn btn-warning">BACK</a>


{% endblock content %}