{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container">
  <a href="{% url 'accounts:profile' user.username %}" class="text-decoration-none"><h2 class="mt-2 text-muted ">{{ article.pk }}번째 글</h2></a>
  <hr>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성 시각 : {{ article.created_at }}</p>
  <p>수정 시각 : {{ article.updated_at }}</p>
  <hr>
  {% if request.user == article.user %}
  <div class="d-flex justify-content-between">
    <div style="display:inline">
    <a href="{% url 'articles:update' article.pk %}" class="btn btn-warning">수정</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST" style="display:inline">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger mx-2" value="삭제">
    </form>
    </div>
  {% endif %}
  <a href="javascript:history.back();" class="btn btn-secondary">BACK</a>
  </div>
  
  <div class="container">
    <hr>
  <h4>댓글 목록</h4>
  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.user }} - {{ comment.content }}
        {% if request.user == comment.user %}
          <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST" sytle="display:inline">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit" class="btn btn-primary" sytle="display:inline">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
</div>
</div>
{% endblock content %}
