{% extends 'base.html' %}

{% block content %}
  {% if request.user.is_authenticated %}
    <div class="d-flex justify-content-between align-items-center mt-2">
      <h1 class="mx-3 my-2">Articles</h1>
      <a href="{% url 'articles:create' %}" class="btn btn-primary mx-3 my-2">CREATE</a>
    </div>
    {% else %}
    <h1>Articles</h1>
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인 하세요]</a>
  {% endif %}
  <hr>
  <div class="container">
  {% for article in articles %}
    <div class="card mb-3" style="width:auto">
      <div class="card-body">
        <a href="{% url 'articles:detail' article.pk %}" style="text-decoration:none"><h4 class="card-title text-black">#{{ article.pk }} {{ article.title }}</h4></a>
        <a href="{% url 'accounts:profile' article.user.username %}" style="text-decoration:none"><h5 class="card-subtitle my-2 text-muted">{{ article.user }}</h5></a>
        <p class="card-text">{{ article.content }}</p>
      </div>
      <div>
        <form action="{% url 'articles:likes' article.pk %}" method="POST">
          {% csrf_token %}
          {% if user in article.like_users.all %}
            <div class="d-flex justify-content-start align-items-center">
              <button class="btn" sytle="background-color: transparent; ">
                <i class="fa-solid fa-heart" style="color:red;"></i>
                <input type="hidden" name="next" value="{{ next }}">
              </button>
              <p class="my-auto">{{ article.like_users.all | length }} likes</p>
            </div>
  
          {% else %}
          <div class="d-flex justify-content-start align-items-center">
            <button class="btn" sytle="opacity:0; padding:0;">
              <i class="fa-regular fa-heart" ></i>
                <input type="hidden" name="next" value="{{ next }}">
            </button>
            {% if article.like_users.all %}
              <p class="my-auto">{{ article.like_users.all | length }} likes</p>  
            {% endif %}
          </div>
          {% endif %} 
          
        </form>
      </div>
  </div>
  {% endfor %}
{% endblock content %}
